html {
    height: 100%;
}

body {
    background-color: darkblue;
    font-family: sans-serif;
    height: 100%;
}

table {
    font-family: "Lucida Console";
    white-space: nowrap;
    table-layout: fixed;
}

table, th, td, tr {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-size: 13px;
}

.left-div {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-color: white;
    font-size: 11px;
    float: left;
    width: 200px;
    height: 90%;
    margin: 5px;
    position: fixed;
}

.right-div {
    border-color: red;
    border-width: 2px;
    background-color: white;
    height: 96%;
    margin-top: 2%;
    margin-bottom: 2%; 
    margin-left: 235px;
    overflow: scroll;
}