body {
    background-color: darkblue;
    font-family: "Courier New";
}

table {
    white-space: nowrap;
    table-layout: fixed;
}

table, th, td, tr {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.left-div {
    width: 250px;
    background: red;
    float: left;
    margin-right: 260px;
    background-color: white;
}

.right-div {
    margin-left: 270px;
    overflow: scroll;
    background-color: white;
}